$tablet-width: 992px;
$desktop-width: 1400px;

$bg-light: #ffffff;
$bg-dark: #e5e5e5;
$bg-opasity: rgba(64, 112, 255, 0.05);
$color-link: #4070ff;
$color-decor: #1dc560;
$color-decor2: #dedede;
$color-decor3: #eadb53;
$color-decor4: #4070ff;
$bg-btn: #4070ff;
$color-btn: #fff;
$main-color-text: #000;
$light-color-text: rgba(0, 0, 0, 0.6);
